.footer {
    background-color: $black;
    padding: 34px 0 40px 0;
    margin-left: 120px;
    margin-top: 100px;

    &__container {
        max-width: 1330px;
        padding: 0 15px;
        margin: 0 auto;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a,p {
        color: $white;
        transition: $transitionT;
    }
    a:hover {
        color: $accent;
    }
    .logo-pic.footer {
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width:1366px) {
    .footer {
        margin-left: 100px;
    }
}
@media (max-width:768px) {
    .footer {
        margin-left: 0;
    }
}
@media (max-width:630px) {
    .footer {
        &__inner {
            flex-direction: column;
        }
    }
    .logo-pic.footer {
        margin-top: 0;
    }
    p {
        margin-bottom: 30px;
    }
    .payment {
        margin-bottom: 30px;
    }
}
.payment {
    &.dn {
        display: none;
    }
    align-items: center;
    &.vis {
        display: block;
    }
    img {
        margin-right: 30px;
        width: 40px;
        height: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
}

